{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h2><br>{{ post.title }}</br></h2>
<hr>
<h1><br>{{ post.text }}</br></h1>

{% if post.image %}
    <img src="{{ post.image.url }}" width="650" height="500" >
{% endif %}
{% if post.video %}
    <video class="embed-responsive embed-responsive-16y9" controls="controls">
        <source src="{{ post.video.url }}" type="video/mp4">
    </video>
{% endif %}
{% if post.document %}
    <a href="{{ post.document.url }}" class="btn btn-primary btn-sm">
        Dowload doc</a>
{% endif %}
<br>{% if user.is_authenticated %}
                    <a href="{% url 'response_create' pk=post.id %}">Откликнуться</a>
            {% endif %}</br>
{% if post.author == request.user %}
                        <td><a href="{% url 'post_edit' pk=post.id %}">EDIT</a></td>
                    {% endif %}
{% if post.author == request.user %}
                        <td><a href="{% url 'post_delete' pk=post.id %}"><span style="color: #ff0000;">DELETE</span></a></td>
                    {% endif %}
{% endblock content %}