{% extends 'flatpages/default.html' %}


{% block title %}
Advert
{% endblock title %}


{% block content %}
{{response.post.author}}
{% if response.post.author == request.user %}
    <hr>
    <h1>Откликнулся: {{ response.author }}</h1>
    <h2>Отклик: {{ response.text }}</h2>
        <h3>На что откликнулся: {{ response.post }}</h3>


        <hr>

        <a href="{% url 'response_accept' pk=response.id %}">принять</a>
        <a href="{% url 'response_reject' pk=response.id %}">отклонить</a>
        <a href="{% url 'response_delete' pk=response.id %}">delete</a>




        <button>
            <a class="nav-link" href="{% url 'resp_list' %}">
                <h4><strong>назад</strong></h4>
            </a>
        </button>
{% else %}
    <p class="lead">Вам сюда не надо!</p>
{% endif %}
{% endblock content %}